@import compass
@import compass/reset
@import url("http://fonts.googleapis.com/css?family=Lato:400,700,900")

/* Mixins */
=transition($p, $d, $f)
	+transition-property($p)
	+transition-duration($d)
	+transition-timing-function($f)
=selectNone()
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
// Usefull classes
.clearfix:after 
	content: "."
	visibility: hidden
	display: block
	height: 0
	clear: both
.sprite
	background-image: url('/sprite.png')
	background-repeat: no-repeat
	display: block
	background-origin: content-box
/* Variables */
$darkgrey: #32333a
$orange:#ffa300
// Basic CSS
html, body
	height: 100%
body
	font-family: "Lato"
	background: $darkgrey
.wrapper
	min-height: 100%
	position: relative
	max-width: 100%
	overflow: hidden
main
	padding-bottom: 60px
input, textarea
	-webkit-appearance: none
	-webkit-border-radius: 0
//BEGIN
header
	height: 50px
	margin-bottom: 20px
	position: relative
	h1
		a, a:visited
			line-height: 50px
			color: $orange
			text-transform: uppercase
			font-weight: 700
			margin-left: 30px
			z-index: 1
			text-decoration: none
	.header-input
		position: absolute
		top: 5px
		right: -300px
		z-index: 2
		.befHeaderText
			height: 100%
			width: 50px
			position: absolute
			z-index: 3
			top: 0
			left: 0
			.befSprite
				background-position: -313px -5px
				height: 16px
				width: 12px
				position: absolute
				top: 15px
				left: 20px
hr
	margin: 0
	margin-top: -15px
	height: 1px
	display: block
	width: 100%
	background: #2a2a32
	border: none
	border-bottom: 1px solid #3c3c44

footer
	height: 60px
	text-align: center
	position: absolute
	bottom: 0
	width: 100%
	img
		line-height: 60px
		vertical-align: middle
		margin-right: 15px
	a, a:visited
		font-weight: 700
		line-height: 50px
		color: #7676c9
		text-decoration: underline
.form
	margin: 80px auto 20px
	width: 100%
	text-align: center
.input-container
	width: 200px
	height: 45px
	position: relative
	display: inline-block
	margin-right: -4px
	vertical-align: top
	input[type=text]
		height: 45px
		width: 140px
		background: #f5f5f5
		border: none
		-webkit-border-radius: 3px 0 0 3px
		border-radius: 3px 0 0 3px
		padding: 0 0 0 60px
		color: lighten(#777777, 10%)
		font-weight: 700
		&::-webkit-input-placeholder 
			font-weight: 700
			color: lighten(#777777, 10%)
		&:-moz-placeholder  /* Firefox 18- */
			font-weight: 700
			color: lighten(#777777, 10%)
		&::-moz-placeholder   /* Firefox 19+ */
			font-weight: 700 
			color: lighten(#777777, 10%)
		&:-ms-input-placeholder   
			font-weight: 700
			color: lighten(#777777, 10%)
		&:focus
			outline: none
	.befPin
		background-position: -369px -5px
		width: 16px
		height: 20px
		position: absolute
		top: 12px
		left: 20px
	.befHashtag
		background-position: -257px -5px
		width: 12px
		height: 16px
		position: absolute
		top: 15px
		left: 20px

input[type=button]
	display: inline-block
	height: 45px
	width: 100px
	background: $orange
	color: #f5f5f5
	border: none
	-webkit-border-radius: 0 3px 3px 0
	border-radius: 0 3px 3px 0
	text-transform: uppercase
	font-weight: 700
	font-size: 16px
	+transition(background, 400ms, ease)
	&:focus
		outline: none
	&:active
		border: none
		outline: none
		background: darken($orange, 2%)
.tweetContainer
	width: 100%
	height: 350px
	border-top: 10px solid $orange
	background: #f5f5f5
	position: relative
	.tweet
		padding: 15px
		.circular
			height: 48px
			width: 48px
			display: inline-block
			overflow: hidden
			+border-radius(50%, 50%)
			vertical-align: middle
		strong
			font-size: 20px
			margin-left: 15px
		.text
			margin: 20px 0 15px
			color: #777777
		.date
			font-size: 12px
			color: $darkgrey
			font-weight: 400
	.btn-holder
		height: 50px
		position: absolute
		width: 100%
		bottom: 0
		.btn
			text-align: center
			line-height: 50px
			text-transform: uppercase
			color: $darkgrey
			font-size: 14px
			display: inline-block
			width: 50%
			background: #e2e2e2
			font-weight: 700
			position: relative
			&:hover
				background: darken(#e2e2e2, 5%)
			span
				margin-left: 30px
		#validate
			margin-right: -6px
			border-right: 2px solid #f5f5f5
			.befAdd
				background-position: -5px -5px
				height: 22px
				width: 22px
				position: absolute
				top: 14px
				left: 40px
		#delete
			margin-left: -2px
			border-left: 2px solid #f5f5f5
			padding-right: 4px
			.befDel
				background-position: -171px -5px
				height: 22px
				width: 22px
				position: absolute
				top: 14px
				left: 40px