@import url("http://fonts.googleapis.com/css?family=Lato:400,700,900");
/* line 17, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Mixins */
/* line 18, ../sass/screen.sass */
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 24, ../sass/screen.sass */
.sprite {
  background-image: url("/sprite.png");
  background-repeat: no-repeat;
  display: block;
  background-origin: content-box;
}

/* Variables */
/* line 33, ../sass/screen.sass */
html, body {
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 36, ../sass/screen.sass */
body {
  font-family: "Lato";
  background: #32333a;
}

/* line 39, ../sass/screen.sass */
.wrapper {
  min-height: 100%;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

/* line 44, ../sass/screen.sass */
main {
  padding-bottom: 50px;
}

/* line 46, ../sass/screen.sass */
input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

/* line 50, ../sass/screen.sass */
header {
  height: 50px;
  margin-bottom: 20px;
  position: relative;
}
/* line 54, ../sass/screen.sass */
header h1 {
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  position: relative;
  padding: 0 10px;
}
/* line 58, ../sass/screen.sass */
header h1 a, header h1 a:visited {
  line-height: 50px;
  color: #ffa300;
  text-transform: uppercase;
  font-weight: 700;
  z-index: 1;
  text-decoration: none;
  font-size: 14px;
  display: block;
  width: 100%;
}
/* line 69, ../sass/screen.sass */
header .header-input {
  position: absolute;
  top: 5px;
  right: -300px;
  z-index: 2;
}
/* line 74, ../sass/screen.sass */
header .header-input .befHeaderText {
  height: 100%;
  width: 50px;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}
/* line 81, ../sass/screen.sass */
header .header-input .befHeaderText .befSprite {
  background-position: -313px -5px;
  height: 16px;
  width: 12px;
  position: absolute;
  top: 15px;
  left: 20px;
}

/* line 88, ../sass/screen.sass */
hr {
  margin: 0;
  margin-top: -15px;
  height: 1px;
  display: block;
  width: 100%;
  background: #2a2a32;
  border: none;
  border-bottom: 1px solid #3c3c44;
}

/* line 98, ../sass/screen.sass */
footer {
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 104, ../sass/screen.sass */
footer img {
  line-height: 60px;
  vertical-align: middle;
  margin-right: 15px;
}
/* line 108, ../sass/screen.sass */
footer a, footer a:visited {
  font-weight: 700;
  line-height: 50px;
  color: #7676c9;
  text-decoration: none;
  position: relative;
  top: -4px;
}

/* line 115, ../sass/screen.sass */
.form {
  margin: 80px auto 20px;
  width: 100%;
  text-align: center;
}

/* line 119, ../sass/screen.sass */
.input-container {
  width: 200px;
  height: 45px;
  position: relative;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
/* line 126, ../sass/screen.sass */
.input-container input[type=number], .input-container input[type=tel], .input-container input[type=text] {
  height: 45px;
  width: 140px;
  background: whitesmoke;
  border: none;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  padding: 0 0 0 60px;
  color: #919191;
  font-weight: 700;
}
/* line 136, ../sass/screen.sass */
.input-container input[type=number]::-webkit-input-placeholder, .input-container input[type=tel]::-webkit-input-placeholder, .input-container input[type=text]::-webkit-input-placeholder {
  font-weight: 700;
  color: #919191;
}
/* line 139, ../sass/screen.sass */
.input-container input[type=number]:-moz-placeholder, .input-container input[type=tel]:-moz-placeholder, .input-container input[type=text]:-moz-placeholder {
  font-weight: 700;
  color: #919191;
}
/* line 142, ../sass/screen.sass */
.input-container input[type=number]::-moz-placeholder, .input-container input[type=tel]::-moz-placeholder, .input-container input[type=text]::-moz-placeholder {
  font-weight: 700;
  color: #919191;
}
/* line 145, ../sass/screen.sass */
.input-container input[type=number]:-ms-input-placeholder, .input-container input[type=tel]:-ms-input-placeholder, .input-container input[type=text]:-ms-input-placeholder {
  font-weight: 700;
  color: #919191;
}
/* line 148, ../sass/screen.sass */
.input-container input[type=number]:focus, .input-container input[type=tel]:focus, .input-container input[type=text]:focus {
  outline: none;
}
/* line 150, ../sass/screen.sass */
.input-container input[type=number]:active, .input-container input[type=tel]:active, .input-container input[type=text]:active {
  border: none;
}
/* line 152, ../sass/screen.sass */
.input-container .befPin {
  background-position: -369px -5px;
  width: 16px;
  height: 20px;
  position: absolute;
  top: 12px;
  left: 20px;
}
/* line 159, ../sass/screen.sass */
.input-container .befHashtag {
  background-position: -257px -5px;
  width: 12px;
  height: 16px;
  position: absolute;
  top: 15px;
  left: 20px;
}

/* line 167, ../sass/screen.sass */
input[type=button] {
  display: inline-block;
  height: 45px;
  width: 100px;
  background: #ffa300;
  color: whitesmoke;
  border: none;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 180, ../sass/screen.sass */
input[type=button]:focus {
  outline: none;
}
/* line 182, ../sass/screen.sass */
input[type=button]:active {
  border: none;
  outline: none;
  background: #f59c00;
}

/* line 186, ../sass/screen.sass */
.loadPhrase {
  display: inline-block;
  position: absolute;
  top: 48%;
  left: 0;
  width: 100%;
  text-align: center;
  color: whitesmoke;
}

/* line 194, ../sass/screen.sass */
.tweetContainer {
  width: 100%;
  height: 320px;
  border-top: 10px solid #ffa300;
  background: whitesmoke;
  position: relative;
}
/* line 200, ../sass/screen.sass */
.tweetContainer .tweet {
  position: relative;
  padding: 15px;
}
/* line 203, ../sass/screen.sass */
.tweetContainer .tweet .circular {
  height: 48px;
  width: 48px;
  display: inline-block;
  overflow: hidden;
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
  vertical-align: middle;
}
/* line 210, ../sass/screen.sass */
.tweetContainer .tweet strong {
  font-size: 20px;
  margin-left: 15px;
}
/* line 213, ../sass/screen.sass */
.tweetContainer .tweet .text {
  margin: 20px 0 15px;
  color: #777777;
}
/* line 216, ../sass/screen.sass */
.tweetContainer .tweet .date {
  font-size: 12px;
  color: #32333a;
  font-weight: 400;
}
/* line 220, ../sass/screen.sass */
.tweetContainer .btn-holder {
  height: 50px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
/* line 225, ../sass/screen.sass */
.tweetContainer .btn-holder .btn {
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  color: #32333a;
  font-size: 14px;
  display: inline-block;
  width: 50%;
  background: #e2e2e2;
  font-weight: 700;
  position: relative;
}
/* line 237, ../sass/screen.sass */
.tweetContainer .btn-holder .btn:hover {
  background: #d5d5d5;
}
/* line 239, ../sass/screen.sass */
.tweetContainer .btn-holder .btn span {
  margin-left: 30px;
}
/* line 241, ../sass/screen.sass */
.tweetContainer .btn-holder #validate {
  margin-right: -6px;
  border-right: 2px solid whitesmoke;
}
/* line 244, ../sass/screen.sass */
.tweetContainer .btn-holder #validate .befAdd {
  background-position: -5px -5px;
  height: 22px;
  width: 22px;
  position: absolute;
  top: 14px;
  left: 40px;
}
/* line 251, ../sass/screen.sass */
.tweetContainer .btn-holder #delete {
  margin-left: -2px;
  border-left: 2px solid whitesmoke;
  padding-right: 4px;
}
/* line 255, ../sass/screen.sass */
.tweetContainer .btn-holder #delete .befDel {
  background-position: -171px -5px;
  height: 22px;
  width: 22px;
  position: absolute;
  top: 14px;
  left: 40px;
}

/* line 262, ../sass/screen.sass */
#state {
  color: whitesmoke;
  margin-top: 30px;
}

/* line 265, ../sass/screen.sass */
.endForm {
  width: 100%;
  color: whitesmoke;
  padding: 15px;
}
/* line 269, ../sass/screen.sass */
.endForm p {
  font-size: 18px;
  text-align: center;
}
